*{
  margin : 0;
  padding: 0;
  text-decoration: none;
  cursor : url(../images/curseur/pinksword.png), default;
}
li:hover, li:hover>a, a:hover, a>h1:hover{
  cursor : url(../images/curseur/bluesword.png), pointer;
}
#imgCompetences, #imgExperience, #imgLoisirs{
  display: none;
  position: absolute;
  height: 1em;
}

#imgCompetences{
  left : 2em;
  top : 8.5%;
}
#imgExperience{
  left : 2em;
  top : 8.5%;
}
#imgLoisirs{
  left : 2em;
  top : 8.5%;
}
body{
  background: url(../images/pixel.gif) top no-repeat,url(../images/pixel.jpg) repeat;
  background-size: contain;
}
@media (max-width: 1200px)
{
    body
    {
        background-size: cover;
    }
}
#nom {
  padding: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

nav {
  margin-top: 1em;
  list-style-type: none;
  z-index: 5;

  display: inline-block;
  float:left;
  position: sticky;
  top: 2em;
  left : 0;
  width: 14em;
}
#menu a{
  font-size: 100%;
  text-decoration: none;
  color : #DA70D6;
}

#menuPrincipal li {
  text-align: center;
  display: block;
  border-top: solid 3px;
  border-bottom-left-radius: 1em;border-bottom-right-radius: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 1em;margin-right: 1em; margin-bottom: 0.5em;
  border-color: #FF00FF;
  background-color: #000000;
  box-shadow: 5px 7px 10px #1C1C1C;
}

#menuPrincipal li:hover{
  font-weight: bold;
  background-color : #000000;
  border-color: #00FFFF;
}
#menuPrincipal li:hover a {
  color : #00BFFF;
  text-shadow: #00BFFF 1px 0 10px;
}
.loisirsnav {
  color : #000000;
  display: none;
  width: 100%;
  left: 0;
  padding-top: 1em;
}

.loisirsnav li {
  font-size: 90%;
  background-color: #F5A9A9;
  border-top-left-radius: 1em;border-top-right-radius: 1em;
}
.active:hover .loisirsnav {
  display: block;
}
.active:hover .loisirsnav a{
  font-weight: normal;
  color: #FFFFFF;
  text-shadow: #00BFFF 1px 0 30px;
}
.active .loisirsnav li:hover a{
  color : #000000;
  text-shadow: #00BFFF 1px 0 30px;
}
.active {
    margin-bottom: 0;
}


#sec1 {
  padding-right: 1em; padding-top: 1em; padding-bottom: 1em;
  margin-left: 12em; margin-top: 3em;

}
